---
import { playlists } from "@/lib/data";
import PlaylistItemCard from "@/components/PlaylistItemCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <section
    id="playlist-container"
    class="relative transition-all duration-1000 bg-green-600"
  >
    <!-- Page header -->
    <section class="relative z-10 px-6 pt-10">
      <!-- Greetings -->
      <div>
        <h1 class="text-4xl font-bold">Buenos dias</h1>
      </div>

      <div class="flex flex-wrap mt-6 gap-4">
        {playlists.map((playlist) => <PlaylistItemCard playlist={playlist} />)}
      </div>
    </section>

    <div
      class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-bg-zinc-900/80"
    >
    </div>
  </section>
</Layout>
